/* ViewQuestions.css */
.questions-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .question {
    width: 75%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .question-text {
    font-size: 18px;
  }
  
  .light-gray {
    background-color: #f2f2f2;
  }
  
  .white {
    background-color: #ffffff;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .edit-button,
  .delete-button {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    background-color: #007acc;
  }
  
  /* Center the input fields and save button */
  .updated-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
  }
  
  .edit-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .save-button {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .save-button:hover {
    background-color: #007acc;
  }
  